/* Color Palette:
  - Charleston Green (#172528) - main font color, single list page menu mode icon color
  - Black Shadows (#BAB2B5) - some list icons, home page list card box shadows, search bar magnifying glass icon color
  - *Platinum (#EAE8E8) - app background
  - White (#FEFFFF) - title font color + icon, list item card background, search bar
  - *Azure X 11 Web Color (#DEF2F1) - top bar icon color when active
  - Opal (#91C6C3) - edit task header icons and horizontal line
  - Verdigris (#33AAAA) - add button
  - Myrtle Green (#2B7A78)- top bar header background, icon color when pressed
  - Yellow (#ebc323) - edit pencil icon
  - Red (#ed554a) - delete trashcan icon
*/

/* Global Styles */
i {
  color: #bab2b5;
}

/* all icons should slightly decrease in size when clicked to look like they're being pressed */
i:active {
  transform: scale(0.98);
}

/* set margin of html, body, h1 to 0 so top bar extends to top of page,
and also so there isn't extra margin on left and right for top bar and bottom toolbar. */
html,
body {
  background: #eae8e8;
  font-family: "Open Sans", Calibri, sans-serif;
  margin: 0;
}

.top-bar i {
  font-size: 26px !important;
}

h1 {
  font-size: 25px;
  color: #feffff;
  margin: 0;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 35px;
  color: #172528;
}

/* margin-left auto makes three dots icon flush to right */
.right-aligned {
  margin-left: auto;
}

.right-aligned i {
  padding-left: 0.01em;
}

/* margin-right auto makes single list icon + list name flush to left */
.left-aligned {
  margin-right: auto;
  display: flex;
  align-items: center;
}

/* Top Bar Styles */
/* top-bar is top navbar */
/* first two styles are for sticky navbar */
.top-bar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #2b7a78;
  z-index: 1; /* set z-index: 1 so checkboxes don't overlap with top bar */
}

/* margin: 0 auto; and width: 90%; are to center top bar content, leaving 5% width on each side */
/* but to do that, we really just need margin-left: auto and margin-right: auto */
.top-bar-content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 60px;
}

.top-bar i {
  color: #feffff;
}

.fa-cog {
  margin-left: 15px;
  margin-right: 2px;
}

.top-bar h2 {
  font-size: 24px;
  color: #feffff;
  margin: 0;
}

/* top bar icons change color to Azure X 11 Web Color when pressed */
.top-bar i:active {
  color: #def2f1;
}

.top-bar-content .left-aligned i {
  margin-right: 0.5em;
}

/* sticky top bar */
/* first two styles are for sticky top bar */
.top-home-background {
  position: sticky;
  top: 3.7em;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #eae8e8;
}

/* Add Plus Icon Button */
.add-button {
  position: fixed;
  bottom: 25px;
  right: 20px;
  width: 65px;
  height: 65px;
  background: #33aaaa;
  border-radius: 50%;
  box-shadow: 2px 3px 2px #bab2b5;
  display: flex; /* bottom three styles center the plus icon in the .add-button div */
  align-items: center;
  justify-content: center;
}

.add-button i {
  color: #feffff;
  font-size: 27px !important;
}

/* add-button should change color and decrease slightly in size when pressed */
.add-button:active {
  background: #2b7a78;
  transform: scale(0.98);
}

/* List of Lists */
/* margin-left: auto and margin-right: auto and width: 90% are to center list of lists, leaving 5% width on each side */
#list-of-lists,
#list-of-tasks {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 50px; /* so that plus button doesn't cover edit task icon */
}

#list-of-tasks {
  margin-top: 1.2em;
}

/* Search Page */
/* sticky search bar */
/* first two styles are for sticky search bar */
.alt-search-background {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-bottom: 0.2em;
  background: #2b7a78;
  display: flex;
  align-items: space-between;
  align-items: center;
}

/* first two styles are for sticky search bar */
.search-background {
  position: sticky;
  top: 3.7em;
  width: 100%;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  background: #91c6c3;
  display: flex;
  flex-direction: column;
  z-index: 1; /* set z-index: 1 so checkboxes don't overlap with sticky search bar */
}

/* first two styles are for sticky searchbar */
.search {
  position: sticky;
  top: 5em;
  width: 100%;
  padding-bottom: 0.1em;
  border-radius: 20px;
  background: #feffff;
  color: #bab2b5;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.search i {
  margin-left: 0.8em;
  font-size: 17pt !important;
  margin-right: 0.2em;
}

/* first two styles are for sticky searchbar */
.search input {
  position: sticky;
  top: 1em;
  width: 75%;
  background: #feffff;
  color: #172528;
  line-height: 2em;
  font-size: 17px;
  font-family: "Open Sans", Calibri, sans-serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

/* get rid of default input outline on hover and click */
.search input:hover,
.search input:active {
  outline: none;
}

/* sticky top bar */
/* first two styles are for sticky top bar */
.top-home-background {
  position: sticky;
  top: 3.7em;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #eae8e8;
}

/* first two styles are for sticky searchbar */
.alt-search {
  position: sticky;
  top: 0;
  border-radius: 20px;
  background: #eae8e8;
  color: #bab2b5;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 5%;
  width: 72%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.alt-search i {
  margin-left: 0.8em;
  font-size: 19px !important;
}

/* get rid of default input outline on hover and click */
.alt-search input:hover,
.alt-search input:active {
  outline: none;
}

/* first two styles are for sticky searchbar */
.alt-search input {
  position: sticky;
  width: 60%;
  background: #eae8e8;
  color: #172528;
  line-height: 0.5em;
  font-size: 15px;
  font-family: "Open Sans", Calibri, sans-serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  margin-left: 1em;
}

.search-label {
  display: none;
}

#cancel-search {
  margin-right: 6%;
  color: #feffff;
  font-weight: 500;
}

.list {
  border-radius: 7px;
  background: #feffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #172528;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1em;
  grid-template-columns: 1.9em 13em 3em;
  margin-bottom: 1em;
  padding: 0.2em 2em 0.2em 1em;
}

.list i {
  font-size: 25px !important;
}

.list h2 {
  font-weight: 600;
  font-size: 18px;
}

i.list-icon {
  color: #172528;
  font-size: 25px !important;
}

.enter-list:active {
  color: #2b7a78;
}

.edit-list {
  grid-template-columns: 1.9em 9.6em 2em 3em;
}

.edit-list-style {
  color: #ebc323;
}

.delete-list {
  color: #ed554a;
}

.edit-list-style:active {
  color: #2b7a78;
}

.delete-list:active {
  color: #2b7a78;
}

/* sticky bottom toolbar for edit list page (delete icon) */
/* first three styles are for sticky toolbar */
.bottom-toolbar {
  bottom: 0;
  position: fixed; /* use fixed instead of sticky so toolbar is at bottom even if we don't have that many lists */
  width: 100%;
  height: 10%;
  background: #ed554a;
  color: #feffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.bottom-toolbar:active {
  color: #eae8e8;
}

.bottom-toolbar i {
  font-size: 23pt !important;
  color: #feffff;
}

.bottom-toolbar h2 {
  margin-left: 0.5em;
}

/* Single List Page Styles */
#single-list-page h2 {
  font-weight: normal;
}

/* Tasks */
.task {
  border-radius: 8px;
  background: #feffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #17252a;
  margin-bottom: 1em;
  padding: 0.2em 1.5em 0.2em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task i {
  font-size: 22px !important;
}

/* override default checkbox styles for task checkboxes */
.task input[type="checkbox"] {
  margin-left: 0.5em;
  margin-right: 1.5em;
  transform: scale(2);
  accent-color: #33aaaa;
}

.task-and-date {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.task-and-date h2 {
  font-size: 16px;
  margin-bottom: 0; /* to make task and date flush next to each other vertically */
}

.date {
  margin-top: 0; /* to make task and date flush next to each other vertically */
  font-size: 15px;
}

.edit-task-icon {
  margin-right: 0;
  font-size: 15px !important;
}

.edit-task-icon:active {
  color: #2b7a78;
}

/* Single List Page Menu Mode Styles */
/* place overlay of black background with lightened opacity over rest of page */
#single-list-menu-mode-overlay {
  height: 100vh;
  background: black;
  opacity: 12%;
}

/* first three styles are for sticky toolbar */
.bottom-toolbar-edit-list-menu {
  bottom: 0;
  position: fixed; /* use fixed instead of sticky so toolbar is at bottom even if we don't have that many lists */
  width: 100%;
  background: #feffff;
  color: #172528;
  display: grid;
  align-items: center;
  grid-template-columns: 3em 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
}

.bottom-toolbar-edit-list-menu h2 {
  font-size: 16px !important;
}

.bottom-toolbar-edit-list-menu i {
  justify-self: center; /* center icons in menu */
  font-size: 22px !important;
  color: #172528;
}

.bottom-toolbar-edit-list-menu i:active {
  color: #2b7a78;
}

.bottom-toolbar-edit-list-menu h2 {
  font-size: 20px;
  margin-left: 0.5em;
}

.customize-list-icon {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.customize-list-desc {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.hide-icon {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

.hide-desc {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.delete-completed-icon {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

.delete-completed-desc {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

.delete-all-icon {
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
}

.delete-all-desc {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
}

.delete-list-icon {
  grid-row: 5 / span 1;
  grid-column: 1 / span 1;
}

.delete-list-desc {
  grid-row: 5 / span 1;
  grid-column: 2 / span 1;
}

/* Edit Task Page Styles */
#edit-task-page {
  background: #feffff;
  height: 100vh; /* need this so #feffff background color extends entire screen */
}

.edit-task-header {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.edit-task-header i {
  color: #91c6c3;
  font-size: 30px !important;
}

.edit-task-header i:active {
  color: #2b7a78;
  transform: scale(0.98);
}

.edit-task-name-label {
  display: none;
}

.task-name textarea {
  font-family: "Open Sans", Calibri, sans-serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

/* get rid of default textarea outline on hover and click */
.task-name textarea:hover,
.task-name textarea:active {
  outline: none;
}

#edit-task-page hr {
  border: thin solid #91c6c3;
  margin-bottom: 2em;
}

#edit-task i {
  color: #91c6c3;
}

#edit-task-name {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  overflow-wrap: break-word;
  width: 200px;
  height: 60px;
}

#edit-task {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; /* TODO: may have to change depending on whether we add more attributes a task could have! */
  margin: 0 auto;
  width: 90%;
}

.set-date-icon {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  font-size: 25pt !important;
}

.set-date {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-size: 12pt;
}

.set-time {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  font-size: 12pt;
}

.set-location-icon {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  font-size: 25pt !important;
}

.set-location {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  font-size: 12pt;
}

.set-note-icon {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  font-size: 25pt !important;
}

.set-note {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  font-size: 12pt;
}

.set-completed-icon {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  font-size: 25pt !important;
}

.set-completed {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  font-size: 12pt;
}

/* Edit List Page Styles */
.edit-list-title {
  font-weight: 100;
  background: #feffff;
  color: #172528;
  border-radius: 10px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.1em;
  position: relative;
  padding-bottom: 0.1em;
  top: 30%;
}

.edit-list-header {
  height: 80px;
}

.edit-list-header i {
  font-size: 29px !important;
}

.edit-list-header-content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  top: 42%;
  transform: translate(0, -50%);
}

.list-name input {
  border-radius: 20px;
  margin-left: 0.3em;
  text-align: center;
  width: 95%;
  position: relative;
  top: 15px;
  transform: translate(0, -50%);
  color: #172528;
  line-height: 2.2em;
  font-size: 22px;
  font-family: "Open Sans", Calibri, sans-serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

#edit-list-page {
  background: #feffff;
  height: 100vh; /* need this so #feffff background color extends entire screen */
}

.icon-options {
  background: #eae8e8;
  border-radius: 15px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  row-gap: 1em;
  column-gap: 1em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 6em;
  padding-right: 6em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.icon-options div {
  color: #172528;
  background: rgb(252, 252, 252);
  padding: 0.2em 0.2em 0.2em 0.2em;
  margin: auto;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.icon-options i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #172528;
}

.selected i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #33aaaa;
}

div.selected {
  background: #feffff;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.edit-list-name-label {
  visibility: hidden;
}

.initial i {
  color: #bab2b5;
}

/* Lab 1 Walkthrough Styles */
#walkthrough {
  background: #feffff;
}

#walkthrough-container {
  margin: 0 auto;
  width: 90%;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

#walkthrough h1 {
  color: #172528;
  font-size: 35px;
}

#walkthrough b,
#walkthrough h3,
#walkthrough p {
  font-size: 18px;
}

#walkthrough h2 {
  font-style: italic;
  font-weight: 300;
}

#walkthrough a {
  color: #33aaaa;
  display: inline-block; /* anchors are inline elements and do not accept width, margin, etc. until they are defined as block level or inline-block elements */
  margin: 1em 0;
}

#walkthrough-required-tasks-nav a {
  margin: 0;
}

#walkthrough .walkthrough-iframe-and-text {
  display: flex;
  align-items: flex-start;
}

/* ensure that walkthrough iframe will always be 360px, no matter what CSS Flexbox does */
#walkthrough .walkthrough-iframe {
  flex-basis: 360px;
  flex-grow: 0;
  flex-shrink: 0;
  border-width: 0px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#walkthrough .walkthrough-text {
  margin-top: 0;
  margin-left: 1.5em;
}
