/* Colors:
  - Charleston Green (#172528)
  - Black Shadows (#BAB2B5) - list icons, magnifying glass
  - *Platinum (#EAE8E8) - 
  - White (#FEFFFF) - title icon, list items
  - *Azure X 11 Web Color (#DEF2F1) - background
  - Opal (#91C6C3) - 
  - Verdigris (#33AAAA) - nav bar on botton
  - Myrtle Green (#2B7A78)- header at top
*/

/* Global Styles */
i {
  color: #bab2b5;
}

/* set margin of html, body, h1 to 0 so top bar extends to top of page,
and also so there isn't extra margin on left and right for top bar and bottom toolbar. */
html,
body {
  background: #eae8e8;
  font-family: "Open Sans", Calibri, sans-serif;
  margin: 0;
}

h1 {
  font-size: 70px;
  color: #feffff;
  margin: 0;
}

h2 {
  font-size: 45px;
}

/* top-bar is top navbar */
/* first two styles are for sticky navbar */
.top-bar {
  top: 0;
  position: sticky;
  width: 100%;
  background: #2b7a78;
  padding-top: 2em;
  padding-bottom: 2em;
  z-index: 1; /* set z-index: 1 so checkboxes don't overlap with top bar */
}

/* margin: 0 auto; and width: 90%; are to center top bar content, leaving 5% width on each side */
/* really, to do that, we just need margin-left: auto and margin-right: auto */
.top-bar-content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.top-bar i {
  color: #feffff;
}

/* Icon changes color when pressed */
.top-bar i:active {
  color: #BAB2B5;
}

/* margin-left auto makes three dots icon / home icon flush to right */
.right-aligned {
  margin-left: auto;
}

.right-aligned i {
  padding-left: 0.5em;
}

/* Home Page Styles */
/* sticky search bar */
/* first two styles are for sticky search bar */
.search-background {
  top: 0;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #eae8e8;
}

/* sticky top bar */
/* first two styles are for sticky top bar */
.top-home-background {
  position: sticky;
  top: 10em;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #eae8e8;
}

/* first two styles are for sticky searchbar */
.search {
  top: 0;
  width: 100%;
  border-radius: 50px;
  background: #feffff;
  color: #bab2b5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.search i {
  margin-left: 0.8em;
}

/* first two styles are for sticky searchbar */
.search input {
  position: sticky;
  top: 14em;
  width: 75%;
  background: #feffff;
  line-height: 2.5em;
  font-size: 44px;
  font-family: "Open Sans", Calibri, sans-serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.search-label {
  visibility: hidden;
}

/* margin-left: auto and margin-right: auto and width: 90% are to center list of lists, leaving 5% width on each side */
#list-of-lists {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 15em; /* so we can scroll to all the tasks and none are blocked by bottom toolbar */
}

.list {
  border-radius: 10px;
  background: #feffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #172528;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5em;
  grid-template-columns: 2.8em 34em 3em;
  margin-bottom: 2em;
  padding: 0.5em 2em 0.5em 2em;
}

.list-icon {
  color: #172528;
}

.enter-list:active{
  color: #2B7A78;
}

.edit-list {
  grid-template-columns: 2.8em 25em 3em 3em;
}

.edit-list-style:active{
  color: #2B7A78;
}

.delete-list:active{
  color: #2B7A78;
}

/* sticky bottom toolbar for home page only (create new list) */
/* first three styles are for sticky toolbar */
.bottom-toolbar {
  bottom: 0;
  position: fixed; /* use fixed instead of sticky so toolbar is at bottom even if we don't have that many lists */
  width: 100%;
  background: #33AAAA;
  color: #feffff;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 3.8em;
}

.bottom-toolbar:active {
  color:#EAE8E8;
}

.bottom-toolbar i {
  font-size: 30pt;
  color: #feffff;
}

.bottom-toolbar h2 {
  margin-left: 0.5em;
  font-size: 30pt;
  font-weight: normal;
}

/* Single List Page Styles */
/* margin-right auto makes single list icon + list name flush to left */
.left-aligned {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.top-bar-content .left-aligned i {
  margin-right: 0.25em;
}

/* sticky search bar + filter row */
/* first two styles are for sticky search bar + filter row */
.search-and-filter-background {
  position: sticky;
  top: 10em;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #eae8e8;
  display: flex;
  flex-direction: column;
  z-index: 1; /* set z-index: 1 so checkboxes don't overlap with sticky search bar + filter */
}

.filter {
  font-size: 40px;
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-left: auto;
  margin-right: 1em;
}

/* override default checkbox styles for filter checkbox */
.filter input[type="checkbox"] {
  margin-left: 2em;
  margin-right: 3em;
  transform: scale(4.5);
  accent-color: #33aaaa;
}

/* margin-left: auto and margin-right: auto and width: 90% are to center list of tasks, leaving 5% width on each side */
#list-of-tasks {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 25em; /* so we can scroll to all the tasks and none are blocked by bottom toolbar */
}

.task {
  border-radius: 8px;
  background: #feffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #17252a;
  margin-bottom: 2em;
  padding: 0.5em 2em 0.5em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* override default checkbox styles for task checkboxes */
.task input[type="checkbox"] {
  margin-left: 2em;
  margin-right: 4.5em;
  transform: scale(5.5);
  accent-color: #33aaaa;
}

.task-and-date {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.task-and-date h2 {
  margin-bottom: 0; /* to make task and date flush next to each other vertically */
}

.date {
  font-size: 35px;
  margin-top: 0; /* to make task and date flush next to each other vertically */
}

.task .pencil {
  margin-right: 0.2em;
}

/* make the two layers of bottom toolbar have flex direction column */
/* make each individual layer have flex direction row */
/* first two styles are for sticky toolbar */
.single-list-bottom-toolbar {
  bottom: 0;
  position: fixed; /* use fixed instead of sticky so toolbar is at bottom even if we don't have that many tasks */
  width: 100%;
  background: #33aaaa;
  color: #feffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.single-list-bottom-toolbar i {
  color: #feffff;
}

.add-task,
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task {
  padding: 1.25em 0 1.25em 0;
}

.delete {
  width: 100%;
  background: #2b7a78;
}

.add-task h2,
.delete h2 {
  margin-left: 1em;
}
