/* Colors:
  - Charleston Green (#172528)
  - Black Shadows (#BAB2B5) - list icons, magnifying glass
  - *Platinum (#EAE8E8) - 
  - White (#FEFFFF) - title icon, list items
  - *Azure X 11 Web Color (#DEF2F1) - background
  - Opal (#91C6C3) - 
  - Verdigris (#33AAAA) - nav bar on botton
  - Myrtle Green (#2B7A78)- header at top
*/

/*
  - TODO:
  - pick font + ensure we can have different font weight
  - Pencil might be more for edit, than for delete
  - add navbar to bottom
  - Toolbar at bottom for Create New List so it's in fixed position if you have infinite lists

  - IDEAS:
  - Hi Zoe, here are your tasks for today...
*/

/* Global Styles */
.list i {
  color: #BAB2B5;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Set margin of html, body, h1 to 0 so top bar extends to top of page,
and also so there isn't extra margin on left and right for top bar and bottom toolbar. */
html, body {
  background: #EAE8E8;
  font-family: 'Open Sans', Calibri, sans-serif;
  margin: 0;
}

h1 {
  font-size: 70px;
  color: #FEFFFF;
  margin: 0;
}

h2 {
  font-size: 44px;
}

/* top-bar is class for top navbar */
/* First three styles are for sticky navbar */
.top-bar {
  top: 0;
  position: sticky;
  width: 100%;
  background: #2B7A78;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* margin: 0 auto; and width: 90%; are to center top bar content, leaving 5% width on each side */
.top-bar-content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

/* margin-left auto makes setting gear icon flush to right */
.top-bar i {
  color: #FEFFFF;
  margin-left: auto;
}

/* Sticky toolbar at bottom */
/* First three styles are for sticky navbar */
.bottom-toolbar {
  bottom: 0;
  position: sticky;
  width: 100%;
  background: #33AAAA;
  color: #FEFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.bottom-toolbar h2 {
  margin-left: 1em;
}

/* First two styles are for sticky searchbar */
/* Home Page Styles */
#search-background {
  position: sticky;
  top: 10em;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #EAE8E8;
  overflow: hidden;
}

.search {
  position: sticky;
  top: 14em;
  width: 100%;
  border-radius: 50px;
  background: #FEFFFF;
  color: #BAB2B5;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.search i {
  margin-left: 0.8em;
}

.search input {
  position: sticky;
  top: 14em;
  width: 80%;
  background: #FEFFFF;
  line-height: 2.5em;
  font-size: 44px;
  font-family: Karla, Calibri, sans-serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

#search-label {
  visibility: hidden;
}

#list-of-lists {
  margin: 0 auto;
  width: 90%;
}

.list {
  border-radius: 8px;
  background: #FEFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #17252A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 0.5em 2em 0.5em 2em;
}

.list h2 {
  font-size: 50px;
}
